html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
}
#bctn p img{
	display:block;
	width:90%;
	height:auto;
}
a{
	color: #333333;
	text-decoration: none;
}
a:hover {
	color: #333333;
	text-decoration: none;
}

.zindex2_btn{
	border: solid 1px red;
	z-index: 2;
	background-color: #bfbfbf;
	position: absolute;
	right: 50px;
	top: 50px;
	display: inline-flex;
}
.zindex2_div{
	border: solid 1px red;
	z-index: 2;
	
}
.left_position{
	position: absolute;
	left: 50px;
	top: 100px;
	display: inline-flex;
	background-color: #ffffff;
}
.right_position{
	position: absolute;
	right: 50px;
	top: 100px;
	display: inline-flex;
	background-color: #ffffff;
}
.boardlist_title{	/* list.js ->> function getboardlist */
	text-align:left; 
	padding-left:5%;
	cursor:pointer;
}

#map{
	width:75vw;
	height:100vh; 
	z-index:1;
}
#right_sidebar{
	background-color: #ffffff;
	height : 100%;
	position : fixed;
	top: 0;			/* 위에서 0px만큼 떨어짐 */
	right: 0;	/* 왼쪽에서 -200px만큼 이동 : 숨기기 */
	width:25vw;
	z-index: 3;
	overflow: auto;
}


.overflowbar{
	overflow-y:auto;
}


